<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Added %thread for thread name -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Show Jetty server startup messages (includes port info) -->
    <logger name="org.eclipse.jetty.server.AbstractConnector" level="INFO"/>

<!--    <logger name="org.eclipse.jetty.server.HttpChannel" level="DEBUG"/>-->
    <logger name="com.example.server.rest.endpoints.InitEndpoint" level="INFO"/>
    <logger name="com.example.server.ws.websockets.HelloWebSocket" level="INFO"/>

    <!-- Suppress other Jetty logs -->
    <logger name="org.eclipse.jetty" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>